@mixin flex-standart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin background-img {
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

@mixin position-z {
    position: relative;
}

@mixin h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: $_64px;
    text-transform: uppercase;
    text-align: center;
    color: $_hed-color-write;
}

@mixin btn{
    background-color: $_btn-color;
    height: 80px;
    width: 370px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin  img {
    width: 23.625rem;
    height: 21.25rem;
}

@mixin sotial-footer-text {
    font-family: $_raleway;
    font-weight: 700;
    font-size: $_18px;
    text-transform: uppercase;
    text-align: center;
    color: $_hed-color-write;
}

@mixin footer-text {
    font-family: $_raleway;
    font-weight: 400;
    font-size: $_18px;
    text-transform: capitalize;
    text-align: center;
    color: $_hed-color-write;   
}