//font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;


//colors 
$_btn-color: #FF4343;
$_color-hover:#E71414;
$_hed-color-write: #FFFFFF;
$_hed-color-black: #2D3033;
$_text-color: #6C7279;

//font-family 

$_raleway: "Raleway", sans-serif;
$_cardo: "Cardo", sans-serif;
